name: publish
on: [push]

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: q8Q5ZFT7
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}